.reviews {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 25px 0 0 0;
  color: ghostwhite;
}
.reviewAuthor {
  padding: 0 0 15px 0;
  font-size: 24px;
}
.errorMsg {
  font-size: 24px;
  color: ghostwhite;
}
